 /* tags */
 body {
     margin: 0;
     background-color: #E4F9F5;
     text-align: center;
     font-family: 'Roboto', serif;
     font-size: .9em;
     color: #40514E;
     position: absolute;
 }
 a {
     text-decoration: none;
     color:#40514E;
     font-weight: bold;
 }
a:hover {
   color: #EAF6F6;
 }
button a {
    color: #EAF6F6;
    text-decoration: none;
}

 hr {
     width: 8%;
     border-style: dotted none none;
     border-width: 16px;
     border-color: #40514E;
 }

 h1 {
     font-family: 'Sacramento', sans-serif;
     margin-top: 3.57%;
     font-size: 3.5rem;
     line-height: 1.4;
     color: #66BFBF;
 }

 h2 {
     font-family: 'Montserrat', sans-serif;
     text-decoration: underline;
     font-size: 1.7rem;
     margin: 4% auto 4%;
     font-weight: normal;
     color: #419e9e;
 }

 h3 {
     font-family: 'Montserrat', sans-serif;
     margin: auto;
     font-size: 1.3rem;
     margin: auto 5% .7%;
     padding-top: 4%;
     color: #419e9e;
 }


 /* classes */
 .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 1rem;
    padding: .4% 1.3% .4% 1.3%;
    text-decoration: none;
    margin-bottom: 3%;
    text-decoration: none;
    border: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
 .contact-me {
     margin: auto auto 0.0714%;
     padding-bottom: 0;
 }
 .contact-me h2 {
     margin: 1.5% auto 1.5%;
 }
.contact-me h3 {
    padding: 0%;
    margin-bottom: 2%;
}
 .container1 {
     position: relative;
     padding-top: 3.57%;
 }

 .container3 {
     background-color: #66BFBF;
     padding: 3% 0 1.5%;
 }

 .cloud1 {
     width: 12%;
     position: absolute;
     right: 21.5%;
     top: 60.14%;
 }

 .cloud2 {
     width: 12%;
     position: absolute;
     left: 21.7%;
     top: 14.8%;
 }

 .experience {
     position: relative;
 }

 .exp-row {
     background-color: #c3cccabd;
     border-radius: 5%;
     width: 50%;
     height: 11rem;
     margin: 2% auto 5%;
     text-align: left;
     padding-bottom: 2%;
 }
.footer-link {
   margin: 1%; 
   color: #0a7a7e;
   font-family: 'Montserrat';
   font-weight: bolder;
   text-decoration: none;
   font-size: 1rem;
}

 .hr1 {
     margin-top: 4%;
     margin-bottom: 1.5%;
 }

 .hr2 {
     margin-top: 0;
     margin-bottom: 2%;
 }

 .hr3 {
     margin-top: 0;
     margin-bottom: 2%;
 }

 .mountain {
     position: relative;
     left: 15px;
     bottom: 40px;
     display: none;
 }
.name {
    color: #EAF6F6;
    margin: 3% auto 1%;
}
 .parsDesc {
     margin: 2% 3% 3% 5%;
     font-size: 1rem;
     padding-bottom: 1.7%;
     line-height: 1.4;

 }

 .parsIntro {
     margin: auto 15% auto;
     padding-bottom: 2.5%;
     font-size: 1rem;
     line-height: 1.5;
 }

 .present {
     margin-top: 0;
     margin-bottom: 0;
 }

 .profile {
     width: 60%;
     margin: 3% auto 3%;
     background-color: #c3cccabd;
     border-radius: 5%;
     text-align: left;

 }

 .profile h2 {
     padding-top: 2%;
     padding-bottom: 1%;
     margin: auto;
 }

 .skills {
     position: relative;
 }

 .skill-row {
     background-color: #c3cccabd;
     border-radius: 5%;
     width: 50%;
     height: 11rem;
     margin: 2% auto 5%;
     text-align: left;
 }

 /* IMAGES */

 .expImgsLeft {
     width: 17%;
     /*background-color: #b8911386; */
     padding: 0.7%;
     border-radius: 10%;
     margin: 5% 5% 2%;
     float: left;
 }

 .expImgsRight {
     width: 17%;
     /*background-color: #b8911386; */
     padding: 0.7%;
     border-radius: 10%;
     margin: 5% 5% 3%;
     float: right;
 }

 .profpic {
    width: 18%;
    border-radius: 100%;
    float: left;
    margin: 3.5% 5.5% 3.5% 3.5%;
}
